<div class="flex">
    <p class="current-week">{{this.currentWeekRange}}</p>
</div>

<div class="grid days-number">
    <div class="day" *ngFor="let day of weekDays; index as i" [ngClass]="{'select': this.today == day.date}">
        <p>{{ day.letter }}</p>
        <p class="number">{{ day.date }}</p>
    </div>
</div>

<div class="flex patients-appointment-wrapper">
    <ng-container *ngIf="this.isLoading; else loaded">
        <div class="flex patient-appointment" *ngFor="let item of [0,1,2]">
            <div class="flex">
                <!-- <img class="patient-image" src="https://cdn-icons-png.flaticon.com/512/1430/1430453.png" alt="patient image"> -->
                <div class="info">
                    <p class="patient-name loading shimmer"></p>
                    <p class="patient-issue loading shimmer"></p>
                </div>
            </div>
            <span class="hour loading shimmer"></span>
        </div>
    </ng-container>

      
    <ng-template #loaded>

        <ng-container *ngIf="appointments.length > 0; else noAppointments">
            <div class="flex patient-appointment" *ngFor="let appointment of appointments">
                <div class="flex">  
                    <div class="info">
                        <p class="patient-name">{{appointment.patient.names + " " + appointment.patient.lastNames}}</p>
                        <p class="patient-issue">{{appointment.issue}}</p>
                    </div>
                </div>
                <span class="hour">
                    {{appointment.startDate | date:'HH:mm'}}
                </span>
            </div>
        </ng-container>

        <ng-template #noAppointments>
            <p class="no-appointments">There are no appointments today</p>
        </ng-template>
    </ng-template>
</div>