.info {
    flex-direction: column;
    gap: 10px;
}
.row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.input {
    max-width: 230px;
    min-width: 0;
    width: 100%;
}
/* .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
} */
label {
    color: var(--primary-text);
    font-size: 1rem;
}
.radio-group {
    flex-direction: column;
    gap: 10px;
}
.textarea {
    color: var(--primary-text);
    max-width: 470px;
    width: 100%;
}
textarea {
    height: 150px
}
.footer {
    /* text-align: end; */
    width: 100%;
}
.radio-group {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.button-margin-left {
    margin-left: 10px;
}
.input-array {
    align-items: center;
    column-gap: 8px;
    flex-direction: row;
}
.text-wrapper {
    white-space: normal;
}
@media screen and (max-width : 412px) {

}