<mat-stepper [linear]="true" #stepper [orientation] = "this.orientation">
    <mat-step [stepControl]="this.firstStep">
      <form [formGroup]="this.firstStep" >
        <ng-template matStepLabel>Basic info</ng-template>
        <mat-card >
          <mat-card-content>
            <div class="flex info">
              <div class="flex row">
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Names</mat-label>
                    <input matInput placeholder="First names" formControlName="names" required>
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Last names</mat-label>
                    <input matInput placeholder="Last names" formControlName="lastNames"required>
                </mat-form-field>
              </div>
    
              <div class="flex row">
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Birthdate</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="birthDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
    
                <mat-form-field appearance="outline" class="input">
                    <mat-label>DNI</mat-label>
                    <input matInput placeholder="DNI" formControlName="dni" type="number" required>
                </mat-form-field>
              </div>
    
              <label id="radio-group-label">Pick a gender</label>
              <div class="flex radio-group">
                <mat-radio-group formControlName="gender"
                  aria-labelledby="radio-group-label"
                  class="flex radio-group">
                  <mat-radio-button value="FEMALE" color="primary">Female</mat-radio-button>
                  <mat-radio-button value="MALE" color="primary">Male</mat-radio-button>
                </mat-radio-group>
              </div>
    
              <mat-form-field appearance="outline" class="textarea">
                  <mat-label>Notes</mat-label>
                  <textarea matInput placeholder="Notes" formControlName="notes"></textarea>
              </mat-form-field>
    
              <div class="footer">
                <button mat-flat-button matStepperNext color="primary" [disabled]="this.firstStep.invalid">Next</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-step>

    <mat-step [stepControl]="this.secondStep">
      <form [formGroup]="this.secondStep">
        <ng-template matStepLabel>Contact info</ng-template>
        <mat-card>
          <mat-card-content>
            <div class="flex info">
              <mat-form-field appearance="outline" class="input">
                <mat-label>Phone</mat-label>
                <input matInput placeholder="Phone" formControlName="phone" type="number" required>
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="input">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email" formControlName="email" type="email" required>
              </mat-form-field>
      
              <mat-form-field appearance="outline" class="input">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Address" formControlName="address" required>
              </mat-form-field>
      
              <div class="footer">
                <button mat-flat-button matStepperPrevious color="primary">Back</button>
                <button mat-flat-button matStepperNext color="primary" 
                  class="button-margin-left" [disabled]="this.secondStep.invalid">
                  Next
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
    </mat-step>

    <mat-step [stepControl]="this.allergiesForm" optional>
      <ng-template matStepLabel>Allergies</ng-template>
      <form [formGroup]="this.allergiesForm">
        <mat-card>
          <mat-card-content>
            <div class="flex info">
              <div formGroupName="allergies" class="flex info">
                <mat-checkbox color="primary" class="checkbox" formControlName="penicillin">
                  <div class="text-wrapper">
                    Penicillin
                  </div>
                </mat-checkbox>
                <mat-checkbox color="primary" class="checkbox" formControlName = "aspirin">
                  <div class="text-wrapper">
                    Aspirin
                  </div>
                </mat-checkbox>
                <mat-checkbox color="primary" class="checkbox" formControlName = "sulfonamides">
                  <div class="text-wrapper">
                    Sulfonamides
                  </div>
                </mat-checkbox>
                <mat-checkbox color="primary" class="checkbox" formControlName = "cephalosporins">
                  <div class="text-wrapper">
                    Cephalosporins
                  </div>
                </mat-checkbox>
                <mat-checkbox color="primary" class="checkbox" formControlName = "nsaids">
                  <div class="text-wrapper">
                    Nonsteroidal Anti-Inflammatory Drugs (NSAIDs)
                  </div>
                </mat-checkbox>
                <mat-checkbox color="primary" class="checkbox" formControlName = "opioids">
                  <div class="text-wrapper">
                    Opioids (e.g., Morphine, Codeine)
                  </div>
                </mat-checkbox>
                <mat-checkbox color="primary" class="checkbox" formControlName = "tetracyclines">
                  <div class="text-wrapper">
                    Tetracyclines
                  </div>
                </mat-checkbox>
                <mat-checkbox color="primary" class="checkbox" formControlName = "other" (change)="this.onOtherCheckboxChange()">
                  <div class="text-wrapper">
                    Other
                  </div>
                </mat-checkbox>
              </div>
        
              <div *ngIf="this.showOtherInput" 
                formArrayName="additionalAllergies" class="flex info" role="list">
                <ng-container *ngFor="let control of additionalAllergies.controls; let i = index" role="listitem">
                  <div class="flex input-array">
                    <mat-form-field appearance="outline" class="input">
                      <mat-label>Specify allergy</mat-label>
                      <input matInput placeholder="Specify allergy" [formControlName]="i" required>
                    </mat-form-field>
  
                    <button mat-icon-button (click)="removeAdditionalAllergy(i)"
                      [attr.aria-label]="'delete allergie at position' + (i + 1) ">
                      <mat-icon color="warn">delete</mat-icon>
                    </button>
                  </div>
                </ng-container>
        
                <button mat-mini-fab color="primary" aria-label="add a new allergy input" (click)="addAdditionalAllergy()">
                    <mat-icon>add</mat-icon>
                </button>
              </div>
              <div class="footer">
                  <button mat-flat-button matStepperPrevious color="primary">Back</button>
                  <button mat-flat-button color="primary" class="button-margin-left"
                  [disabled]="this.allergiesForm.invalid || this.waitingResponseApi" (click)="this.onClickAddPatient()">Create</button>
              </div> 
            </div>
        </mat-card-content>
      </mat-card>
    </form>

    <div *ngIf="this.errorMessage">
      <p class="error">{{this.errorMessage}}</p>
    </div>
  </mat-step>
</mat-stepper>