.top {
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}
.right {
    gap: 10px;
    flex-wrap: wrap;
}
.custom-button {
    border: solid 1px #616161;
}
mat-icon {
    font-size: 21px;
}
.custom-button-icon {
    border-radius: 0px 5px 5px 0px;
    height: 38px;
}
.search-bar {
    background-color: var(--background-components);
    border: solid 1px var(--secondary-text);
    border-radius: 5px 0px 0px 5px;
    height: 38px;
    padding: 0px 8px;
    width: 240px;
}
.right button {
    height: 38px;
}

.dropdown {
    margin-top: -4px;
    width: 140px;
}


.section-table {
    margin-top: 20px;
}
/* .card-content-table {
    border-radius: 5px;
} */
.mat-table {
    border-radius: 5px;
    width: 100%;
}
.wrapper-dropdown {
    margin-bottom: 10px;
    text-align: end;
    width: 100%;
}
.wrapper-table {
    display: flex;
    border-radius: 5px;
    overflow-x: auto;
}
.mat-header-cell:first-child {
    border-top-left-radius: 5px;
}
.mat-header-cell:last-child {
    border-top-right-radius: 5px;
}

.custom-button-menu mat-icon {
    color: var(--secondary-text);
}
.custom-button-menu span{
    color: var(--secondary-text);
    font-size: 0.9rem;
}
.delete-button span, .delete-button mat-icon{
    color: var(--warn-color);
}

@media screen and (max-width : 412px) {
    .top {
        gap: 15px;
    }
    .right {
        column-gap: 5px;
        width: 100%;
    }
    .left {
        width: 100%;
    }
    .custom-button {
        width: 50%;
    }
    .add-button {
        width: 100%;
    }
    .dropdown {
        width: calc(50% - 5px);
    }
    .search-bar {
        flex: 1 1;
    }
}