<section class="flex wrapper">
    <mat-card class="personal-info-wrapper">
        <mat-card-title-group class="group-title">
            <mat-card-title class="title-no-margin">Basic information</mat-card-title>
            <button mat-icon-button aria-label="open edit basic information" *ngIf="!this.isLoading" 
                class="edit-button" (click)="this.onClickOpenEditBasicInformationDialog()">
                <mat-icon class="setting-icon">settings</mat-icon>
            </button>
        </mat-card-title-group>
        <mat-card-content>
            <div class="flex basic-items">
                <div class="personal-info-item">
                    <p class="category-info">Names</p>
                    <p *ngIf="!isLoading" class="personal-info">{{patient.names + " " + patient.lastNames}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-basic-info"></div>
                    <span class="line"></span>
                </div>
                <div class="personal-info-item">
                    <p class="category-info">Birthdate</p>
                    <p *ngIf="!isLoading" class="personal-info">{{patient.birthDate | date:'MM/dd/yyyy'}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-basic-info"></div>
                    <span class="line"></span>
                </div>
                <div class="personal-info-item">
                    <p class="category-info">Gender</p>
                    <p *ngIf="!isLoading" class="personal-info">{{patient.gender.toString()| textFormat}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-basic-info"></div>
                    <span class="line"></span>
                </div>
                <div class="personal-info-item">
                    <p class="category-info">DNI</p>
                    <p *ngIf="!isLoading" class="personal-info">{{patient.dni}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-basic-info"></div>
                    <span class="line"></span>
                </div>
                <div class="personal-info-item">
                    <p class="category-info">Phone</p>
                    <p *ngIf="!isLoading" class="personal-info">{{patient.phoneNumber}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-basic-info"></div>
                    <span class="line"></span>
                </div>
                <div class="personal-info-item">
                    <p class="category-info">Email</p>
                    <p *ngIf="!isLoading" class="personal-info">{{this.patient.email}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-basic-info"></div>
                    <span class="line"></span>
                </div>
                <div class="personal-info-item">
                    <p class="category-info">Address</p>
                    <p *ngIf="!isLoading" class="personal-info">{{this.patient.address}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-basic-info"></div>
                    <span class="line"></span>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="medical-information-wrapper">
        <mat-card-title-group class="group-title">
            <mat-card-title class="title-no-margin">Medical info</mat-card-title>
            <button mat-icon-button aria-label="open edit medical information" *ngIf="!this.isLoading" 
                class="edit-button" (click)="this.onClickOpenEditMedicalInformationDialog()">
                <mat-icon class="setting-icon">settings</mat-icon>
            </button>
        </mat-card-title-group>
        <mat-card-content>
            <div class="items">
                <div class="medical-info-item">
                    <p class="category-info">Weight (kg)</p>
                    <p *ngIf="!isLoading">{{this.patient.medicalInformation.weight |  number:'0.2-2'}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-medical-info"></div>
                </div>
                <div class="medical-info-item">
                    <p class="category-info">Height (cm)</p>
                    <p *ngIf="!isLoading">{{this.patient.medicalInformation.height | number:'1.2-2'}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-medical-info"></div>
                </div>
                <div class="medical-info-item">
                    <p class="category-info">BMI</p>
                    <p *ngIf="!isLoading">{{this.patient.medicalInformation.bmi | number:'0.2-2'}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-medical-info"></div>
                </div>
                <div class="medical-info-item">
                    <p class="category-info">Cholesterol</p>
                    <p *ngIf="!isLoading">{{this.patient.medicalInformation.cholesterol | number:'0.2-2'}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-medical-info"></div>
                </div>
                <div class="medical-info-item">
                    <p class="category-info">Blood sugar</p>
                    <p *ngIf="!isLoading">{{this.patient.medicalInformation.bloodSugar | number:'0.2-2'}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-medical-info"></div>
                </div>
                <div class="medical-info-item">
                    <p class="category-info">Blood pressure</p>
                    <p *ngIf="!isLoading">
                        {{this.patient.medicalInformation.systolicPressure | number:'0.0-0'}} 
                        /{{this.patient.medicalInformation.diastolicPressure | number:'0.0-0'}}
                    </p>
                    <div *ngIf="isLoading" class="shimmer loading-medical-info"></div>
                </div>
                <div class="medical-info-item">
                    <p class="category-info">Heart rate</p>
                    <p *ngIf="!isLoading">{{this.patient.medicalInformation.heartRate | number:'0.0-0'}}</p>
                    <div *ngIf="isLoading" class="shimmer loading-medical-info"></div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
    <mat-card class="conditions-wrapper">
        <div *ngIf="isLoading">
            <div class="shimmer tab-header"></div>
            <div class="shimmer tab">
        </div>
        </div>
        <mat-tab-group *ngIf="!isLoading">
            <mat-tab label="Appointments">
                <ul class="flex appointments-wrapper" aria-label="list of appointments">
                    <li class="flex appointment-card" *ngFor="let appointment of this.appointments">
                        <div class="flex appointment-column">
                            <div class="flex group start-date">
                                <p class="title">{{appointment.startDate | date:'MM/dd/yyyy'}}</p>
                                <p class="sub-title">
                                    {{appointment.startDate| date: 'HH:mm'}} - {{appointment.endDate| date: 'HH:mm'}}
                                </p>
                            </div>
                        </div>
                        <div class="flex appointment-column">
                            <div class="flex group issue">
                                <p class="sub-title">Issue</p>
                                <p class="text">{{appointment.issue | textFormat}}</p>
                            </div>
                        </div>
                        <div class="flex appointment-column">
                            <div class="flex group price">
                                <p class="sub-title">Price</p>
                                <p class="text">S/ {{appointment.price | number:'0.2-2'}}</p>
                            </div>
                        </div>
                        <div class="flex appointment-column">
                            <div class="flex group created">
                                <p class="sub-title">Created at</p>
                                <p>{{appointment.createdDate | date:'MM/dd/yyyy'}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="Allergies">
                <div class="wrapper-allergies">
                    <form [formGroup]="this.allergiesForm" class="flex info">
                        <div class="flex info">
                            <div formGroupName="allergies" class="flex info">
                                <mat-checkbox color="primary" class="checkbox" formControlName="penicillin">
                                    <div class="text-wrapper">
                                      Penicillin
                                    </div>
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="checkbox" formControlName = "aspirin">
                                    <div class="text-wrapper">
                                      Aspirin
                                    </div>
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="checkbox" formControlName = "sulfonamides">
                                    <div class="text-wrapper">
                                      Sulfonamides
                                    </div>
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="checkbox" formControlName = "cephalosporins">
                                    <div class="text-wrapper">
                                      Cephalosporins
                                    </div>
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="checkbox" formControlName = "nsaids">
                                    <div class="text-wrapper">
                                      Nonsteroidal Anti-Inflammatory Drugs (NSAIDs)
                                    </div>
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="checkbox" formControlName = "opioids">
                                    <div class="text-wrapper">
                                      Opioids (e.g., Morphine, Codeine)
                                    </div>
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="checkbox" formControlName = "tetracyclines">
                                    <div class="text-wrapper">
                                      Tetracyclines
                                    </div>
                                </mat-checkbox>
                                <mat-checkbox color="primary" class="checkbox" formControlName = "other" (change)="this.onOtherCheckboxChange()">
                                    <div class="text-wrapper">
                                      Other
                                    </div>
                                </mat-checkbox>

                                <div *ngIf="this.errorMessageAllergies">
                                    <p class="error">{{this.errorMessageAllergies}}</p>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="this.showOtherInput" 
                            formArrayName="additionalAllergies" class="flex info" role="list">
                            <ng-container *ngFor="let control of additionalAllergies.controls; let i = index" role="listitem">
                                <div class="flex input-array">
                                    <mat-form-field appearance="outline" class="input">
                                        <mat-label>Specify allergy</mat-label>
                                        <input matInput placeholder="Specify allergy" [formControlName]="i" required>
                                    </mat-form-field>
                
                                    <button mat-icon-button (click)="removeAdditionalAllergy(i)"
                                    [attr.aria-label]="'delete allergie at position' + (i + 1) ">
                                    <mat-icon color="warn">delete</mat-icon>
                                    </button>
                                </div>
                            </ng-container>
                
                            <button mat-mini-fab color="primary" aria-label="add a new allergy input" (click)="addAdditionalAllergy()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </form>
                    <footer>
                        <button mat-flat-button color="primary" [disabled]="this.isSaveDisabled()" 
                        (click)="this.updateAllergies()">Save</button>
                    </footer>
                </div>
            </mat-tab>
          </mat-tab-group>
    </mat-card>
    <mat-card class="notes-wrapper">
        <mat-card-title>Notes</mat-card-title>
        <mat-form-field  *ngIf="!isLoading" appearance="outline" class="textarea">
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Notes" [(ngModel)]="this.notes" maxlength="250"></textarea>
        </mat-form-field>

        <div *ngIf="this.errorMessageNotes" class="error-notes">
            <p class="error">{{this.errorMessageNotes}}</p>
        </div>

        <div *ngIf="isLoading" class="shimmer loading-notes"></div>
        <div *ngIf="!isLoading" class="button-wrapper">
            <button mat-flat-button color="primary" [disabled]="this.isNotesUnchanged()"
            (click)="this.updateNotes()">Save</button>
        </div>
    </mat-card>
</section>