<div class="card" [ngClass]="metric.category">
    <!-- <div class="trending">
        <span>Vs last week</span>
    </div> -->
    <div class="flex icon-container">
        <!-- <i class='bx' [ngClass]="iconsDictionary[metric.category]"></i> -->
        <mat-icon>{{iconsDictionary[metric.category]}}</mat-icon>
    </div>
    <h2 class="category">Total {{metric.category}}</h2>
    <p *ngIf="metric.amount != null" class="amount"> {{metric.category == 'earning'? 'S/' : ''}} {{metric.amount}}</p>
    <div *ngIf="metric.amount == null" class="loading-shimmer shimmer"></div>
</div>
