.header-cells {
    color: var(--primary-text);
    grid-template-columns: repeat(7, minmax(110px, 1fr)); /* 7 columnas */
    width: 100%;
}
.day-name {
    padding: 5px;
    text-align: center;
}
.wrapper {
    position: relative;
}
.container-cells {
    grid-template-columns: repeat(7, minmax(110px, 1fr)); /* 7 columnas */
}

.cell {
    background-color: var(--background-components);
    border: 1px solid var(--secondary-text);
    height: 70px;
    padding: 10px;
}
.cell:first-child {
    border-top-left-radius: 5px;
}
.cell:nth-child(7) {
    border-top-right-radius: 5px;
}
.cell:nth-last-child(-7n + 7){
    border-bottom-left-radius: 5px;
}
.cell:last-child {
    border-bottom-right-radius: 5px;
}
.other-month {
    color: rgb(145, 145, 145)
}
.current-month {
    color: var(--primary-text);
}
/* Quitar bordes colisionantes */
.cell:not(:nth-child(7n)) {
    border-right: none; /* Quita el borde derecho excepto la última celda de cada fila */
}
.cell:not(:nth-last-child(-n+7)) {
    border-bottom: none; /* Quita el borde inferior excepto en la última fila */
}
.day-number {
    font-size: 0.9rem;
    text-align: end;
    width: 100%;
}


/* .resizable-div {
    position: absolute;
    background-color: rgba(0, 0, 255, 0.2);
    pointer-events: none;
    width: 100%;
} */