<section cdkTrapFocus cdkTrapFocusAutoCapture="true" class="wrapper flex" role="dialog" 
aria-modal = true aria-label="filter by gender and age">

    <div>
        <span tabindex="-6" cdkFocusInitial></span>
        <p class="title" id="gender-label">Gender</p>
        <div class="flex checkboxs" [formGroup]="gender" aria-labelledby="gender-label">
            <mat-checkbox class="checkbox" color="primary" formControlName="female">Female</mat-checkbox>
            <mat-checkbox class="checkbox" color="primary" formControlName="male">Male</mat-checkbox>
        </div>
    </div>

    <div>
        <p class="title" id="age-range-label">Age Range</p>
        <div class="filter-section flex" aria-labelledby="age-range-label">
            <label class="text-input" for="min-age">min</label>
            <input aria-label="minimum age" id="min-age" type="number" class="custom-input left" placeholder="0">
            
            <div class="separator">
            </div>
            
            <input aria-label="maximum age" id="max-age" type="number" class="custom-input right" placeholder="999">
            <label class="text-input" for="max-age">max</label>
        </div>
    </div>

</section>