<section class="flex header">
    <div class="flex date-range">
        <button mat-icon-button aria-label="prev ..." (click)="this.prev()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <span>{{this.dateRange}}</span>
        <button mat-icon-button aria-label="next ..." (click)="this.next()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>

    <div class="flex right">
        <mat-button-toggle-group name="calendarTypes" aria-label="Calendar types" [(ngModel)]="this.type" 
            class="toggle-buttons">
            <mat-button-toggle value="month">Month</mat-button-toggle>
            <mat-button-toggle value="week">Weekly</mat-button-toggle>
        </mat-button-toggle-group>

        <!-- <button mat-icon-button color="primary" class="icon-button">
            <mat-icon>calendar_month</mat-icon>
        </button> -->
    
        <button mat-flat-button color="primary" (click)="this.onClickOpenDialog()" class="add-button">
            Add new
        </button>
    </div>
</section>

<section class="calendar">
    <app-monthly-calendar [indexDate$]="this.indexDate$" [appointmentAdd$]="this.appointmentAdd$"
    *ngIf="this.type == 'month'"></app-monthly-calendar>
    <app-weekly-calendar [indexDate$]="this.indexDate$" [appointmentAdd$]="this.appointmentAdd$"
    *ngIf="this.type == 'week'"></app-weekly-calendar>
</section>