.hour-column {
    width: 50px;
}
.header-hour {
    height: 53.2px;
}
.hour {
    height: 60px;
}

.wrapper-week {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}
.header-cells {
    color: var(--primary-text);
    grid-template-columns: repeat(7, minmax(120px, 1fr));
}
.header-cell {
    padding: 5px;
    text-align: center;
}
.today{
    color: var(--primary-color);
}

.container-cells {
    grid-template-columns: repeat(7, minmax(120px, 1fr));
    grid-template-rows: repeat(17, 60px);
}
.cell {
    background-color: var(--background-components);
    border: solid 1px var(--secondary-text);
    position: relative;
}
/* Quitar bordes colisionantes */
.cell:not(:nth-child(7n)) {
    border-right: none; /* Quita el borde derecho excepto la última celda de cada fila */
}
.cell:not(:nth-last-child(-n+7)) {
    border-bottom: none; /* Quita el borde inferior excepto en la última fila */
}
.cell:first-child {
    border-top-left-radius: 5px;
}
.cell:nth-child(7) {
    border-top-right-radius: 5px;
}
.cell:nth-last-child(-7n + 7){
    border-bottom-left-radius: 5px;
}
.cell:last-child {
    border-bottom-right-radius: 5px;
}

/*Appointment*/
.appointment-wrapper {
    position: absolute;
    background-color: transparent;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 2;
}
.appointment {
    background-color: #fafafa;
    border-radius: 5px;
    padding: 0px 2px 2px 2px;
    width: 100%;
    z-index: 2;
}
.appointment .bar {
    background-color: #377dc3d9;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 4px;
    margin-left: -2px;
    width: calc(100% + 4px);
}
.appointment .range-hour {
    color: var(--secondary-text);
    font-size: 0.75rem;
    margin-top: 2px;
}
.patient-name {
    color: var(--primary-text);
    font-size: 0.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
    width: 100%;
}

/*Appointment overlay*/
.appointment-overlapping {
    background-color: #0b7bebd9;
    height: 60px;
    left: 0px;
    padding: 5px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
}
.appointment-overlapping span {
    color: var(--tertiary-text);
    font-size: 0.9rem;
    user-select: none; /* Deshabilita la selección de texto en el span */
}

.appointment-overlay-add {
    background-color: #fdfdfd;
    border-radius: 5px;
    row-gap: 8px;
    flex-direction: column;
    padding: 8px;
    width: 270px;
}
.appointment-overlay-add .day {
    color: var(--primary-text);
    column-gap: 5px;
    width: 100%;
}
.appointment-overlay-add .day span{
    font-size: 0.9rem;
}
.appointment-overlay-add .icon{
    color: var(--primary-color);
    font-size: 21px;
    height: 21px;
}
.start-end-hours {
    font-size: 0.9rem;
}
.start-end-hours .row {
    column-gap: 5px;
}
.start-end-hours .row:nth-child(2) {
    margin-top: 5px;
}
.start-end-hours p {
    color: var(--secondary-text);
    width: 42px;
}
.start-end-hours span {
    color: var(--primary-text);
}

.search-bar {
    background-color: var(--background-components);
    border: solid 1px var(--secondary-text);
    border-radius: 5px;
    height: 38px;
    padding: 0px 8px;
    width: 100%;
}
mat-form-field {
    width: 100%;
}

.search label {
    color: var(--secondary-text);
    font-size: 0.9rem;
}

.footer-overlay {
    justify-content: space-between;
}

/*PATIENT LIST OVERLAY*/
.patient-list {
    background-color: var(--background-components);
    border-radius: 5px;
    margin-top: 5px;
    max-height: 145px;
    overflow-y: auto;
    min-width: 254px;
    padding: 5px;
    width: 100%;
}