<div class="flex">
    <div class="hour-column">
        <div class="header-hour"></div>
        <div class="hour" *ngFor="let hour of [6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22]; let i = index">
            <p class="hour-text">{{i + 6 + ":00"}}</p>
            <p *ngIf="i == 16" class="last-hour">{{i + 7 + ":00"}}</p>
        </div>
    </div>
    <div class="wrapper-week">
        <div class="line" *ngIf="this.indexDate.getHours() >= 6 && this.indexDate.getHours() <= 23"
        [style.top]="(this.indexDate.getHours() - 6)*60 + 54 + this.indexDate.getMinutes() + 'px'"></div>

        <div class="grid header-cells">
            <div class="header-cell"  *ngFor="let day of daysWeek; let i = index" [ngClass]="{'today': this.areDatesEqual(day)}">
                <p>{{this.daysName[i]}}</p>
                <p>{{this.daysWeek[i].getDate()}}</p>
            </div>
        </div>
        <div class="grid container-cells" #containerCells>
            <div class="cell" *ngFor="let cell of gridData" (mousedown)="onMouseDown($event, cell)">
                <div *ngIf="this.compareDatesInAppointments(cell) as appointment" class="appointment-wrapper" 
                    [ngStyle]="{ height: (appointment.endDate.getHours() - appointment.startDate.getHours())*60 + 'px' }" (mousedown)="$event.stopPropagation()">
                    
                    <div  class="appointment shadow"
                    [ngStyle]="{ height: (appointment.endDate.getHours() - appointment.startDate.getHours())*60 - 3 + 'px' }">
                        <div class="bar" [ngClass]="{'past': this.isPastTime(appointment.startDate)}"></div>
                        <div class="flex range-hour">
                            <p>{{appointment.startDate.getHours() + ":00 - " + appointment.endDate.getHours() + ":00"}}</p>
                            <button mat-icon-button aria-label="open dialog appointment details"
                                (click)="this.onClickOpenAppointmentActionDialog(appointment)">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                        </div>
                        <p class="patient-name">
                            {{appointment.patient.names + " " + appointment.patient.lastNames}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #overlayTemplate>

    <form [formGroup]="form" class="flex appointment-overlay-add shadow" cdkTrapFocus cdkTrapFocusAutoCapture>

        <div class="search">
            <label for="search-patient">Search patient</label>
            <input id="search-patient" class="search-bar" type="search" placeholder="Patient names" [matAutocomplete]="auto" 
                [formControl]="patientControl">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="this.displayPatient" 
                    (optionSelected)="selectPatient($event.option.value)">
                    <mat-option *ngFor="let patient of filteredPatients$ | async" [value]="patient">
                        {{patient.names + " " + patient.lastNames}}
                    </mat-option>
                </mat-autocomplete>
        </div>

        <div class="flex day">
            <mat-icon class="icon">calendar_month</mat-icon>
            <span>{{endDateOverlay | date:'MM/dd/yyyy'}}</span>
        </div>

        <div class="start-end-hours">
            <div class="flex row">
                <p>Start:</p>
                <span>{{this.startDateOverlay?.getHours() + ":00"}}</span>
            </div>
            <div class="flex row">
                <p>End:</p>
                <span>{{this.endDateOverlay?.getHours() + ":00"}}</span>
            </div>
        </div>

        <mat-form-field appearance="outline" class="small">
            <mat-label>Issue</mat-label>
            <mat-select disableOptionCentering placeholder="Issue" formControlName="issueField" required>
              <mat-option value="CLINIC_CONSULTING">Clinic consulting</mat-option>
              <mat-option value="FOLLOW_UP">Follow up</mat-option>
              <mat-option value="LAB_TEST">Lab test</mat-option>
              <mat-option value="EMERGENCY_CARE">Emergency care</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="small">
            <mat-label>Price (S/)</mat-label>
            <input matInput placeholder="Price" type="number" formControlName="priceField" required>
        </mat-form-field>

        <div *ngIf="this.errorMessage">
            <p class="error">{{this.errorMessage}}</p>
        </div>

        <footer class="flex footer-overlay">
            <button mat-button color="primary" (click)="closeOverlay()" [disabled]="this.waitingResponseApi">Cancel</button>
            <button mat-flat-button color="primary" [disabled]="form.invalid || this.waitingResponseApi"
            (click)="this.saveAppointment()">Save</button>
        </footer>

    </form>
    
</ng-template>