/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '@angular/cdk/overlay-prebuilt.css';

* {
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-style: normal;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
  --background: #e5f0f8;
  --background-components: #f5f5f5;
  --primary-text: #2f2f2f;
  --secondary-text: #616161;
  --tertiary-text: #f8f8f8;
  --primary-color: #0b7beb;
  --warn-color: #ff2b2b;
}

.dialog-bg {
  background-color: rgba(0, 0, 0, 0.6);
}

.shadow {
  box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.1)
}

.shimmer {
  background: linear-gradient(-45deg, #cfcfcf51 40%, #e8e8e84d 50%, #cfcfcf51 60%);
  background-size: 300%;
  background-position-x: 100%;
  animation: shimmer 1s infinite linear;
}
@keyframes shimmer {
  to {
     background-position-x: 0%
  }
}

button:not([class*=mat-elevation-z]) {
  &.mat-button,
  &.mat-raised-button,
  &.mat-flat-button,
  &.mat-fab,
  &.mat-mini-fab {
    box-shadow: none;
  }
}

button:not(.mat-button-disabled):active:not([class*=mat-elevation-z]) {
  &.mat-button,
  &.mat-raised-button,
  &.mat-flat-button,
  &.mat-fab,
  &.mat-mini-fab {
    box-shadow: none;
  }
}

input {
  outline: none;
}
input[type="search"],
input[type="text"] {
  color: var(--primary-text);
}
input[type="search"]::placeholder,
input[type="text"]::placeholder {
  color: var(--secondary-text);
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}
.background {
  background-color: var(--background);
}
.mat-card {
  background-color: var(--background-components);
  border-radius: 5px;
  color: var(--primary-text);
}
.mat-card-title {
  font-size: 1.0rem;
}
.title-no-margin {
  margin-bottom: 0px !important;
}
.group-title {
  margin-bottom: 8px !important;
}
.mat-card-subtitle {
  color: var(--secondary-text);
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
/* .mat-drawer-backdrop.mat-drawer-shown {

} */

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  padding: 8px!important;
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border-bottom-style: none!important;
}
th.mat-header-cell {
  background-color: var(--primary-color);
  color: var(--tertiary-text);
}
td.mat-cell {
  /* background-color: var(--background-components); */
  color: var(--primary-text);
}
tr:nth-child(odd) td.mat-cell {
  background-color: var(--background-components); /*Impar*/
}
tr:nth-child(even) td.mat-cell {
  background-color: rgb(233, 233, 233); /*Par*/
}
tr.mat-row:last-child .mat-cell:first-child {
  border-bottom-left-radius: 5px;
}
tr.mat-row:last-child .mat-cell:last-child {
  border-bottom-right-radius: 5px;
}

/* .mat-paginator-outer-container {
  margin-top: 2px;
} */
.mat-paginator-range-actions {
  flex-wrap: wrap;
}
.mat-paginator {
  background-color: transparent;
}
.pages-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 3px;
}
.custom-page {
  background-color: var(--background-components);
  border: solid 1px var(--secondary-text);
  border-radius: 8px;
  cursor: pointer;
  height: 28px;
  text-align: center;
  transition: background-color 0.3s ease, color 0.0 ease;
  vertical-align: middle;
  width: 28px;
}
.custom-page:active {
  background-color: #dddddd;
}
.page-active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--tertiary-text);
}
.page-active:active{
  background-color: #3b93ea;
}
.custom-dots {
  font-size: 20px;
  height: 28px;
  text-align: center;
  width: 28px;
}

.mat-menu-panel {
  box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.1) !important;
}
.mat-menu-content:not(:empty) {
  background-color: var(--background-components) !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}


.mat-option:not(.mat-option-disabled) .mat-option-text {
  color: var(--primary-text);
}
.mat-form-field-outline {
  background-color: var(--background-components);
  border-radius: 5px;
}
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  border-radius: 5px;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: var(--secondary-text)
}
.mat-form-field-wrapper {
  padding-bottom: 0px;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0px !important;
}

/*DROPDOWN*/
.mat-select-panel {
  background-color: var(--background-components);
  font-size: 0.9rem !important;
  margin-top: 24px !important; 
}
.mat-select-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.1) !important;
}

/* .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;} */
.small .mat-form-field-appearance-outline .mat-form-field-label { margin-top: -1px; font-size: 14px; }
/* label.ng-star-inserted { transform: translateY(-0.59375em) scale(.75) !important; } */

.small .mat-form-field-flex > .mat-form-field-infix { padding: 0.32em 0px !important;}
.small .mat-form-field-label-wrapper { font-size: 0.9rem; top: -1.35em; }

.small .mat-form-field-should-float .mat-form-field-label-wrapper {
  top: -1em;
}
.small.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.18em) scale(.75) !important;
  width: 133.33333%;
}
.mat-form-field-appearance-outline .mat-form-field-label {
  margin-top: -0.32em !important;
}
.small .mat-select-placeholder {
  color: var(--secondary-text);
  font-size: 0.9rem;
  position: absolute;
  top: -5px;
}
.small .mat-select-value-text {
  color: var(--primary-text);
  font-size: 0.9rem;
  height: 110%;
  position: absolute;
  top: -5px;
  width: 88%;
}
.mat-form-field-appearance-outline .mat-select-arrow-wrapper {
  transform: translateY(-30%) !important;
}
.small .mat-form-field-flex {
  height: 42px;
}

/*INPUT*/
.mat-input-element {
  color: var(--primary-text) !important;
  font-size: 1rem;
}
.mat-input-element::placeholder {
  color: var(--secondary-text) !important;
  font-size: 0.9rem;
}
/* .mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 0 !important;
} */
.mat-form-field {
  font-size: 0.9rem;
  line-height: 1.23;
}
.small.mat-form-field {
  /* line-height: 1.1 !important; */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*INPUT CALENDAR*/
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0.35em !important;
}
.mat-calendar {
  background-color: var(--background-components);
  border-radius: 5px;
}
.mat-calendar-period-button .mat-button-wrapper {
  color: var(--primary-color) !important;
}
.mat-calendar-table-header .ng-star-inserted {
  color: var(--secondary-text) !important;
}
.mat-calendar-body-cell:not(.mat-calendar-body-disabled) .mat-calendar-body-cell-content:not(.mat-calendar-body-selected){
  color: var(--primary-text) !important;
}
/* .mat-calendar-body-selected {
  color: var(--tertiary-text) !important;
} */
.mat-datepicker-content .mat-calendar {
  height: 354px !important;
  width: 296px !important;
}
.mat-datepicker-content {
  box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.1) !important;
}
.mat-datepicker-popup {
  margin-top: 5px !important;
}

/*CHECKBOX*/
.checkbox {
  color: var(--secondary-text) !important;
  font-size: 0.9rem !important;
}

/*RADIO BUTTON*/
.mat-radio-label-content {
  font-size: 0.9rem;
  color: var(--secondary-text);
}

/*TEXTAREA*/
textarea {
  /* height: 100px; */
  resize: none !important;
}

/*STEPPER*/
.mat-step-header {
  border-radius: 5px;
}
.mat-horizontal-content-container {
  margin-top: 10px;
}
.mat-stepper-horizontal, .mat-stepper-vertical {
  background-color: transparent !important;
}
.mat-horizontal-content-container {
  overflow: hidden;
  padding: 0 !important;
}
.mat-vertical-stepper-header {
  padding: 24px 0px !important;
}
.mat-vertical-content {
  padding: 8px 0px 12px 12px !important;
}
.mat-vertical-content-container {
  margin-left: 12px !important;
}

/*TAB*/
.mat-tab-label {
  border-radius: 5px 5px 0px 0px !important;
}
.mat-tab-header-pagination {
  border-radius: 5px !important;
  box-shadow: none !important;
}

/*BUTTON TOGGLE*/
.mat-button-toggle {
  background-color: var(--background-components);
}
.mat-button-toggle-checked {
  background-color: var(--primary-color);
  color: var(--tertiary-text);
}
.mat-button-toggle-button {
  color: var(--primary-text) !important;
  font-size: 14px !important;
}
.mat-button-toggle-checked .mat-button-toggle-button {
  color: var(--tertiary-text) !important;
}
.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 40px;
}

/*MAT DIALOG*/
.mat-dialog-container {
  border-radius: 5px !important;
  padding: 0px !important;
}

/*AUTOCOMPLETE*/
.mat-autocomplete-panel {
  border-radius: 5px;
  margin-top: 5px;
}
.mat-autocomplete-panel:not([class*=mat-elevation-z]) {
  box-shadow: 0px 5px 7px 2px rgba(0,0,0,0.1)
}
.mat-autocomplete-panel .mat-option {
  color: var(--primary-text) !important;
  font-size: 0.9rem !important;
}
@media screen and (max-width : 412px) {
  .mat-paginator-range-label {
    display: none;
  }
  .mat-datepicker-content .mat-calendar {
    height: 314px !important;
    width: 256px !important;
  }
}