p:not(.error) {
    color: var(--primary-text);
}
.wrapper {
    flex-direction: column;
    gap: 10px;
}
.row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.input {
    max-width: 250px;
    min-width: 0;
    width: 100%;
}
.shimmer {
    border-radius: 5px;
    height: 59px;
}
.buttons button:nth-child(2) {
    margin-left: 10px;
}
.title {
    font-size: 1rem;
    font-weight: 500;
}
.description {
    font-size: 0.9rem;
}
.change-password {
    margin-top: 10px;
}