<p *ngIf="!isLoading" class="welcome-message">Welcome, Dr. {{this.patientName}}</p>
<p *ngIf="!isLoading" class="diary-message">Have a nice day at great work</p>

<div *ngIf="isLoading" class="text-loading shimmer"></div>
<div *ngIf="isLoading" class="text-loading shimmer"></div>

<section class="metrics">
    <ng-container *ngFor="let metric of cardMetrics">
        <app-card-metric [metric]="metric"></app-card-metric>
    </ng-container>
</section>

<section class="grid graphics">
    <mat-card>
        <mat-card-title>Patients ratio</mat-card-title>
    </mat-card>

    <mat-card>
        <mat-card-title>Earning ratio</mat-card-title>
    </mat-card>
</section>

<section class="flex bottom">
    <mat-card class="card-graphic-circle">
        <mat-card-title>Gender</mat-card-title>
        <mat-card-subtitle>Patient gender percentage</mat-card-subtitle>
    </mat-card>

    <mat-card class="card-appointment">
        <mat-card-title>Today's appointments</mat-card-title>
        <mat-card-content>
            <app-todays-appointments [isLoading]="this.isLoading" [appointments]="this.appointmentsToday"></app-todays-appointments>
        </mat-card-content>
    </mat-card>

    <mat-card class="card-table">
        <mat-card-title-group class="group-title">
            <mat-card-title class="title-no-margin">Recent patients</mat-card-title>
            <a href="" class="link">Show all</a>
        </mat-card-title-group>
        <mat-card-content class="card-content-table">
            
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 table">
              
                <ng-container matColumnDef="patientName">
                    <th mat-header-cell *matHeaderCellDef> Patient name </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngIf="!isLoading">{{element.names + " " + element.lastNames}}</p>
                        <div *ngIf="isLoading" class="loading shimmer"></div>
                    </td>
                </ng-container>
              
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef> Gender </th>
                    <td mat-cell *matCellDef="let element"> 
                        <p *ngIf="!isLoading">{{element.gender | textFormat}}</p>
                        <div *ngIf="isLoading" class="loading shimmer"></div>
                    </td>
                </ng-container>
              
                <ng-container matColumnDef="age">
                    <th mat-header-cell *matHeaderCellDef> Age </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngIf="!isLoading">{{calculateAge(element.birthDate)}}</p>
                        <div *ngIf="isLoading" class="loading shimmer"></div>
                    </td>
                </ng-container>
              
                <ng-container matColumnDef="phone">
                    <th mat-header-cell *matHeaderCellDef> Phone </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngIf="!isLoading">{{element.phoneNumber}}</p>
                        <div *ngIf="isLoading" class="loading shimmer"></div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <th mat-header-cell *matHeaderCellDef> Created at </th>
                    <td mat-cell *matCellDef="let element">
                        <p *ngIf="!isLoading">{{element.createdAt | date:'MM/dd/yyyy'}}</p>
                        <div *ngIf="isLoading" class="loading shimmer"></div>
                    </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-card-content>
        <p *ngIf="this.dataSource.length == 0" class="no-patients">
            There are no patients yet
        </p>
    </mat-card>

</section>