.sidenav-container {
    height: 100vh;
}
.expanded {
    margin-left: 30px;
}
.spacer {
    flex: 1 1 auto;
}
.sidenav {
    background-color: var(--background-components);
    border: none;
    width: 210px;
}
.toolbar {
    background-color: var(--background-components);
    height: 60px;
}
.router-outlet {
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    padding-right: 16px;
    padding-bottom: 10px;
}
.padding {
    padding: 0px 16px 16px 16px;
}

@media screen and (max-width : 768px){
    .router-outlet {
        padding: 0px 10px 10px 10px;
    }
    .toolbar {
        padding-left: 10px;
        padding-right: 10px;
    }
}