<section class="flex wrapper">
    <div class="left">
        <span class="brand">HealthPlus</span>
        <div class="flex background">
            <img src="https://img.freepik.com/vector-gratis/fondo-degradado-lineas-azules-dinamicas_23-2148995756.jpg?t=st=1741383183~exp=1741386783~hmac=313bf0cccae4002eebe42da6d3ac4627944d87d32038da5eeeb8cf630626d788&w=1380" alt="">
        </div>
    </div>
    <div class="right">
        <div class="form-wrapper">
            <h1>Hello again</h1>
            <p class="text">We are happy to have you back</p>
            <form [formGroup]="this.loginForm" class="flex">
                <mat-form-field appearance="outline" class="input">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="email" formControlName="email" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="input">
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hidePassword ? 'password' : 'text'" maxlength="30" formControlName="password"
                      required>
                  <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide current password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </mat-form-field>

                <!-- <mat-checkbox color="primary" class="checkbox" formControlName="rememberMe" >Remember me</mat-checkbox> -->

                <button mat-flat-button color="primary" [disabled]="this.loginForm.invalid || this.waitingResponseApi" 
                (click)="this.onClickLogin()">Login</button>
            </form>
            <div *ngIf="this.errorMessage">
                <p class="error">{{this.errorMessage}}</p>
            </div>
            <p class="to-register">Don't have account? <a href="/register">Sign up</a></p>
        </div>
    </div>
</section>